<div class="bg-[#0099ff] shadow-md my-header flex flex-wrap justify-center space-x-4 items-center ">
    <div (click)="scrollToAboutMe()" class="p-4 text-white hover:text-sky-500 hover:bg-white">
        About
    </div>

    <div (click)="scrollToExperience()" class="p-4 text-white hover:text-sky-500 hover:bg-white">
        Experience
    </div>

    <div (click)="scrollToProjects()" class="p-4 text-white hover:text-sky-500 hover:bg-white">
        Projects
    </div>

    <div (click)="scrollToSkills()" class="p-4 text-white hover:text-sky-500 hover:bg-white">
        Skills
    </div>

    <div (click)="scrollToContact()" class="p-4 text-white hover:text-sky-500 hover:bg-white">
        Contact
    </div>
</div>

<div class="main-box"> 
    <div class="sky">
        <div class="wave"></div>
        <div class="center 2xs:invisible xs:invisible">
            <div id="cloud"></div>
        </div>
        <div class="2xs:invisible xs:invisible">
            <div class="plane" style="background-image: url(assets/plane.gif);">
                <!-- <img src="assets/plane.gif" height="50px" width="100px" /> -->
            </div>
        </div>
        <div class="center2 2xs:invisible xs:invisible">
            <div id="cloud"></div>
        </div>
    </div>
</div>

<div class="bg-[#00cba9] flex justify-center items-center h-16">
    <h1 class="my-name">Mayur Aitavadekar</h1>
</div>

<div class="bg-[#00cba9] spacing-box h-16"></div>

<div class="flex justify-center items-center main-title-box">
    <div class="title-box">
        <p class="iam text-center">I'm </p>
        <div class="titles">
            <span class="second">Full Stack Developer</span>
            <span class="first">Software Engineer</span>
            <span class="third">Frontend Engineer</span>
        </div>
    </div>
</div>
<div class="bg-[#00cba9] spacing-box h-16"></div>