<div id="contact" class="container mx-auto">
    <div class="text-center py-14">
        <span class="contact-me">Contact Me.</span>
    </div>
</div>

<div class="container mx-auto pb-16">
    <div class="text-center py-8">
        <a href="https://www.linkedin.com/in/mayur-aitavadekar/">
            <span class="get-in-touch-button">Get in touch</span>
        </a>
        
    </div>
</div>

<div class="flex flex-row w-full bg-slate-300 justify-center items-center h-32">
    <span class="made-with-love">Made with 🤎 By Mayur Aitavadekar</span>
</div>