p {
    margin: 0;
    padding: 0;
}


.contact-me {
    font-size: 35px;
    font-weight: 400;
}

.get-in-touch-button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #0099ff;
    font-size: 20px;
    font-weight: 400;
}

.get-in-touch-button:hover {
    transition: 0.5s;
    background-color: #0099ff;
    color: #fff;
}

.made-with-love {
    font-size: 20px;
    font-weight: 200;
}