p {
    margin: 0;
    padding: 0;
}

a {
    color: cornflowerblue;
}

.projects-heading {
    font-size: 35px;
    font-weight: 400;
}

.project-div {
    height: 350px;
    width: 350px;
    border-radius: 30px;
}

.project-img {
    height: 200px;
    width: 300px;  
    display: block;
}

.project-img:hover {
    opacity: 0.5;
}

.project-name {
    font-weight: 600;
    font-size: 15px;
}