<div id="aboutme" class="container mx-auto text-center">
    <div class="text-center py-14">
        <span class="aboutme 2xs:text-center xs:text-center">About Me.</span>
    </div>
</div>

<div class="flex justify-center items-center pb-16">
    <div class="w-1/2 mx-auto aboutme-para text-justify leading-relaxed">
        <p>Hi I am Mayur. I am 26 years old creative full-stack developer. I live in Atlanta, Georgia, United States
            where I am pursuing my master's degree in Computer Science at Georgia State University. Have a look at my experience, skills and projects below. I am currently looking for full-time/internship roles.
            If I can be good fit for any role in your company, you can reach out to me LinkedIn.
        </p>
    </div>
</div>

