<div id="experience" class="flex flex-row w-full bg-slate-300 justify-center items-center h-16">
</div>

<div class="flex flex-row w-full bg-slate-300 items-center justify-center">
    <span class="experience-heading">Experience.</span>
</div>

<div class="flex flex-row w-full bg-slate-300 justify-center items-center h-16">
</div>

<div class="bg-slate-300 experience-main-div">
    <div class="container mx-auto bg-white experience-card-wrapper">
        <div class="block text-center py-4">
            <span class="text-xl underline 2xs:text-sm xs:text-sm">August 2021 - Present</span>
        </div>
        <div class="block text-center py-4">
            <span class="text-xl 2xs:text-sm xs:text-sm">MORSE Studio, GSU</span>
        </div>
        <div class="block text-center p-2">
            <span class="text-base 2xs:text-sm xs:text-sm">RA - Appliation Developer</span>
        </div>
        <hr/>
        <div class="flex justify-center py-4">
            <span class="description text-base font-light text-justify leading-normal 2xs:p-10 xs:p-10 sm:p-10 md:p-10 2xs:text-sm xs:text-sm">I work as RA-Application Developer in MORSE Lab at Georgia State University. I work on building GEANT4 simulation for 
                radon propagation study using C++ and ROOT. I am also developing a radon/geiger web app using Angular, Chart.js, Flask, and Plotly. 
            </span>
        </div>
    </div>

    <div class="container mx-auto bg-white experience-card-wrapper">
        <div class="block text-center py-4">
            <span class="text-xl underline 2xs:text-sm xs:text-sm">March 2021 - August 2021</span>
        </div>
        <div class="block text-center py-4">
            <span class="text-xl 2xs:text-sm xs:text-sm">Educulture</span>
        </div>
        <div class="block text-center p-2 2xs:text-sm xs:text-sm">
            <span class="text-base 2xs:text-sm xs:text-sm">Full Stack Developer</span>
        </div>
        <hr/>
        <div class="flex justify-center py-4">
            <span class="description font-light text-base text-justify leading-normal 2xs:p-10 xs:p-10 sm:p-10 md:p-10 2xs:text-sm xs:text-sm">
                I worked on building backend REST APIs for ed-tech mobile of <a class="educulture-link" href="https://www.educulture.co.in/">Educulture</a> and consuming APIs on the Fronend built using React. I also worked on building frontends for internal admin tools.
            </span>
        </div>
    </div>

    <div class="container mx-auto bg-white last-experience-card-wrapper">
        <div class="block text-center py-4">
            <span class="text-xl underline 2xs:text-sm xs:text-sm">October 2020 - March 2021</span>
        </div>
        <div class="block text-center py-4">
            <span class="text-xl 2xs:text-sm xs:text-sm">InnoWise LLC</span>
        </div>
        <div class="block text-center p-2">
            <span class="text-base 2xs:text-sm xs:text-sm">Associate Software Engineer</span>
        </div>
        <hr/>
        <div class="flex justify-center py-4">
            <span class="description text-base font-light text-justify leading-normal 2xs:p-10 xs:p-10 sm:p-10 md:p-10 2xs:text-sm xs:text-sm">
                I was working in core product team which built <a href="https://riysalab.com/">RiYSA Lab</a>. I worked extensively on building entire UI from scratch for our client <a href="https://uipath.com">UiPath</a>. UIs can be seen on website.
            </span>
        </div>
    </div>
</div>

<div class="flex flex-row w-full bg-slate-300 justify-center items-center h-16">
</div>

