p {
    margin: 0;
    padding: 0;
}

.experience-heading {
    font-size: 35px;
    font-weight: 400;
}

.description {
    /* font-size: 20px;
    font-weight: 300; */
    width: 30rem;
}

.exp-block-1 {
    width: 100px
}

.exp-block-2 {
    width: 300px;
}

.experience-card-wrapper {
    width: 50%;
    margin-bottom: 50px;
}

.last-experience-card-wrapper {
    width: 50%;
}

a {
    color: cornflowerblue;
}

/* .main-wrapper-card {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 50%;
}

.main-experience-card {
    position: absolute;
    width: 100%;
} */